
<%- include('partials/header'); %>

<body>

        <main>
        <%- include('partials/leftMenu'); %>
        
        <h1>Les Archives de la Citadelle</h1>



        <section class="tournaments_section">      
            <table class="tournament_table">
                <thead>
                    <tr>
                        <th id="tournament_name">Date</th>
                        <th id="tournament_date">Type</th>
                        <th id="tournament_type">Tournoi</th>
                        <th id="tournament_type">Ronde</th>
                        <th id="tournament_type">Scenario</th>
                        <th id="tournament_winner">Joueur A</th>
                        <th id="tournament_winner">Résultat</th>
                        <th id="tournament_link">Joueur B</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% for(const game of games) { %>
                        
                        
                        <tr>
                            <td><%= game.game_round.date %></td>
                            <td><%= game.game_round.round_tournament.tournament_type.name %></td>
                            <td><%= game.game_round.round_tournament.name %></td>
                            <td><%= game.game_round.position %></td>
                            <td><%= game.game_round.round_scenario.name %></td>


                            <% if (game.result === 'A') { %>

                                <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_a.ranking_faction.logo %>" alt="<%= game.game_ranking_a.ranking_faction.name %>"> <%= game.game_ranking_a.ranking_player.name %></td>
                                <td>bat</td>
                                <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_b.ranking_faction.logo %>" alt="<%= game.game_ranking_b.ranking_faction.name %>"> <%= game.game_ranking_b.ranking_player.name %></td>
                        
                        <% } else { %>

                            <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_b.ranking_faction.logo %>" alt="<%= game.game_ranking_b.ranking_faction.name %>"> <%= game.game_ranking_b.ranking_player.name %></td>
                            <td>bat</td>
                            <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_a.ranking_faction.logo %>" alt="<%= game.game_ranking_a.ranking_faction.name %>"> <%= game.game_ranking_a.ranking_player.name %></td>
                                
                                <% } %>

                        </tr>
                                
                            <% } %>
                </tbody>
            </table>
        </section>

    </main>

</body>
</html>