
<%- include('partials/header'); %>

<body>
    <%- include('partials/leftMenu'); %>
    
    <h1>Les Archives de la Citadelle</h1>
    <h2><%= games[0].game_round.round_tournament.name %></h2>
    <h3><%= games[0].game_round.round_tournament.start_date %> | <%= games[0].game_round.round_tournament.tournament_type.name %></h3>



    <section class="tournaments_section">      
        <table class="tournament_table">
            <thead>
                <tr>
                    <th id="tournament_type">Ronde</th>
                    <th id="tournament_type">Scenario</th>
                    <th id="tournament_winner">Joueur A</th>
                    <th id="tournament_winner">Résultat</th>
                    <th id="tournament_link">Joueur B</th>
                </tr>
            </thead>
            <tbody>
                
                <% for(const game of games) { %>
                    
                    
                    <tr>
                        <td><%= game.game_round.position %></td>
                        <td><%= game.game_round.round_scenario.name %></td>


                        <% if (game.result === 'A') { %>

                            <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_a.ranking_faction.logo %>" alt="<%= game.game_ranking_a.ranking_faction.name %>"> <%= game.game_ranking_a.ranking_player.name %></td>
                            <td>bat</td>
                            <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_b.ranking_faction.logo %>" alt="<%= game.game_ranking_b.ranking_faction.name %>"> <%= game.game_ranking_b.ranking_player.name %></td>
                    
                    <% } else { %>

                        <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_b.ranking_faction.logo %>" alt="<%= game.game_ranking_b.ranking_faction.name %>"> <%= game.game_ranking_b.ranking_player.name %></td>
                        <td>bat</td>
                        <td class="games-player"><img src="/images/logo_faction/<%= game.game_ranking_a.ranking_faction.logo %>" alt="<%= game.game_ranking_a.ranking_faction.name %>"> <%= game.game_ranking_a.ranking_player.name %></td>
                            
                            <% } %>

                    </tr>
                            
                        <% } %>
            </tbody>
        </table>
    </section>


</body>
</html>